$gray: #bdbdbd;
$light-gray: #f2f2f2;
$light-gray2: #fafafa;
$dark-gray: #757575;
$blue-gray: #eceff1;
$white: #fff;
$black: #000;
$red: #ff5252;
$blue: #128ef2;
$dark-blue: #303f9f;
$green: #36a444;

$dark-brown: #302222;
$light-brown: #c0bbbb;
$lighter-brown: #ccc;
$medium-dark-brown: #706666;
$medium-brown: #777;

$text-color: #000;

$theme-gray: #2a2a2a;
$theme-black: #181a1a;
$theme-blackblue: #1b1c1d;

$xsmall-screen: 320px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$container-small: 750px;
$container-medium: 900px;
$container-large: 1100px;

$footer-height: 100px;
