@import 'variables';
@import 'helpers';
@import 'defaults';
@import 'pods';

body > .ember-view {
  height: 100%;
}

.page-wrap {
  margin: 0 auto (-$footer-height);
  min-height: 100%;

  &::after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: underline;
  font-size: 1.2em;
  font-family: 'Open Sans' sans-serif;
  font-weight: 300
}

.header {
  @extend %flex-center;
  background-color: $dark-brown;
  height: 100px;
  flex-direction: column;
  margin-bottom: 20px;

  .logo {
    height: 50px;
  }
}

.page-title {
  color: $white;
  letter-spacing: .2em;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  background-color: $light-gray2;
  height: $footer-height;

  .sponsers {
    height: 100%;
  }
  
  .footer-image {
    -webkit-filter: grayscale(1);
    width: 100px;
  }
}

