@import 'variables';
@import 'helpers';
@import 'defaults';
@import 'pods';

body > .ember-view {
  height: 100%;
}

.page-wrap {
  margin: 0 auto (-$footer-height);
  min-height: 100%;

  &::after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

nav {
  background-color: $dark-brown;
  height: 100px;
  margin-bottom: 20px;
}

.page-title {
  color: $white;
  letter-spacing: .2em;
  line-height: 100px;
  margin: 0;
  text-transform: uppercase;
}

footer {
  background-color: $light-gray2;
  height: $footer-height;

  .sponsers {
    height: 100%;
  }
  
  .footer-image {
    width: 100px;
  }
}

