.index-header {
  margin: .5em 0;
}

.topic-div {
  margin-bottom: 20px;
}

.topic {
  background-color: $light-gray;
  box-shadow: 5px 5px 12px 0 $gray;
  height: 300px;
  padding: 5%;

  .block {
    height: 50%;

    .top {
      height: 100%;
    }
  }

  .lines {
    @extend %flex-center;
    flex-direction: column;

    &.bottom {
      justify-content: flex-start;
    }
  }

  .square,
  .line {
    background-color: $gray;
  }

  .square {
    height: 80%;
    width: 75%;
  }

  .line {
    height: 5%;
    width: 100%;

    +.line {
      margin-top: 10px;
    }
  }
}

.topic-header {
  color: $black;
  font-family: 'Playfair Display' 'sans-serif';
  font-size: 1.2em;
  text-decoration: underline;
}


