<section class="container row">
    {{#each model as |topic|}}
        <div class="topic-div col-md-4 col-xs-12">
            {{#link-to "topic.show" topic class="topic"}}
                {{topic.name}}
            {{/link-to}}
        </div>
    {{/each}}
</section>
