.category {
  h2 {
    text-align: left;
  }
}

.hex-grid {
  display: flex;
  flex-wrap: wrap;
}

.article {
  @extend %flex-center;
  background-color: $green;
  flex-direction: column;
  height: 300px;
}
