<h1>{{model.name}}</h1>
<section class="hex-grid container">
    {{#each model.articles as |article|}}
        {{#hex-box responsive=true}}
            {{article.name}}
        {{/hex-box}}
    {{/each}}
</section>
